.main {
  max-height: 50vh;
  margin-top: 40px;
}

.mainContent {
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid #a1a5b0;
}

.punkHighlight {
  display: flex;
  align-items: center;
}

.punkContainer {
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  margin-right: 20px;
}

.selectedPunk {
  object-fit: contain;
  max-width: min(30vw, 40vh);
  max-height: 30vh;
}

.punkDetailsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.punkDetails {
  display: flex;
  margin-top: 10px;
}

.title {
  font-size: 96px;
  font-weight: 800;
}

.itemNumber {
  color: #a1a5b0;
  font-size: 96px;
  font-weight: 700;
  align-items: center;
  margin-left: 20px;
}

.owner {
  display: flex;
  margin: 20px 10px 10px 0;
  height: 50px;
}

.owner > div {
  margin: 0 5px;
}

.ownerImageContainer {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  overflow: hidden;
  object-fit: contain;
}

.ownerImageContainer > img {
  width: 100%;
  height: 100%;
}

.ownerDetails {
  display: flex;
  align-items: center;
  flex: 1;
}

.ownerNameAndHandle {
  flex: 1;
  color: #a1a5b0;
  min-width: 4rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ownerAddress {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ownerName {
  color: #00ebfe;
}

.ownerLink {
  padding: 12px;
  border-radius: 50px;
  height: 50px;
  border: 1px solid #fff;
  margin: 0 0 0 10px;
}

.ownerLink > img {
  height: 100%;
  width: 100%;
}
